div.vis{
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 0;
    background-color: #000;
    overflow: hidden;
}
ul.mov {
    position: relative;
    width: 100%;
    height: 100%;
}
div.vis ul li {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.vis ul li:nth-child(1){background: url('../img/index/slide3.png') no-repeat;
    background-size:cover;
    background-position: 20% 50%;
    left: 0;
}
div.vis ul li:nth-child(2){
    background: url('../img/index/slide4.png');
    left:100%;
    background-size:cover;
    background-position: 45% 50%;
}
div.vis ul li:nth-child(3){
    background: url('../img/index/slide5.png');
    left:200%;
    background-size:cover;
    background-position: 10% 50%;
}
div.vis ul li .text_b{
    position: absolute;
    bottom: 270px;
    left: 12vw;
}

div.vis ul li.ing .text_b * {
    opacity: 0;
    transform: translateY(-40%);
    animation: slideIn 1.3s forwards;
}

div.vis ul li .text_b h3 {
    font-size: 60px;
    font-weight: 100;
    animation-delay:0.2s;
    color: #fff;
    letter-spacing: 5px;
    transition: 1s;
}
div.vis ul li .text_b h2 {
    font-size: 60px;
    font-weight: 100;
    animation-delay:0.5s;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 15px;
    transition: 1s;
}
div.vis ul li .text_b a {
    font-size: 20px;
    font-weight: 100;
    animation-delay:0.8s;   
    color: #fff;
    display: block;
    border-color: #fff;
    transition: 1s;
}
div.vis ul li .text_b a:hover{
    border: #403e3b;
}
div.vis ul li .text_b .go {
    width: 130px;    
}
div.vis ul li .text_b .go:before{
    background: #403e3b;
}

@keyframes slideIn{
    0% {transform: translateY(-40%); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}
div.bbtn ul li {
    position: absolute;
    top: 54%;
    cursor: pointer;
    text-align: center; 
    width: 55px;
    height: 50px;
    padding-top: 8px;
}
div.bbtn ul li:nth-child(1){
    left: 6%;
}
div.bbtn ul li:nth-child(2){
    right: 8%;
}
div.bbtn ul li img {
    width: 25px;
    line-height:5;
}
div.bbtn ul li:hover {   
    border:1px solid rgba(255,255,255,0.8);
}
div.pager {
    position: absolute;
    width: 220px;
    bottom: 50px;
    left: 50%;
    transform: translate(-30%, 50%);
}
div.pager ul li {
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    background: #fff;
    cursor: pointer;
    float: left;
    margin: 8px;
    border-radius: 10px;
    transition: width 1s;
}
div.pager ul li.tgg {
    background: #594442;
    border-color: #594442;
    width: 70px;
}
@media screen and (min-width:1280px) and (max-width:1599px){ /*large pc*/

}
@media screen and (min-width:768px) and (max-width:1279px){ /*태블릿*/
    div.vis ul li .text_b {bottom: 28%;}
    div.vis ul li .text_b h3 {font-size: 45px;transition: 1s}
    div.vis ul li .text_b h2 {font-size: 45px;transition: 1s}
    div.vis ul li .text_b a {font-size: 16px;}
    div.vis ul li .text_b .go {width: 120px; height: 40px; line-height: 40px;transition: 1s}
    div.bbtn ul li {top: 55%; width: 40px;height: 40px;padding-top: 5px;}
    div.bbtn ul li:nth-chil(1){margin-left: 10px;}
    div.bbtn ul li img {width: 20px;}
    div.pager {transform: translate(-30%, 50%);}
}
@media screen and (max-width:767px){ /*mobile*/
   div.vis ul li:nth-child(1){
       background: url('../img/index/slide3_m.png') no-repeat;
        background-size:cover;
        background-position: 10% 50%;
    }
    div.vis ul li:nth-child(2){
        background: url('../img/index/slide4_m.png');
        background-size:cover;
        background-position: 50% 90%;
    }
    div.vis ul li:nth-child(3){
        background: url('../img/index/slide5_m.png');
        background-size:cover;
        background-position: 0% 50%;
    }
    div.vis ul li .text_b {left: 7vw;bottom: 100px}
    div.vis ul li .text_b h3 {font-size: 35px;transition: 1s}
    div.vis ul li .text_b h2 {font-size: 35px;transition: 1s}
    div.vis ul li .text_b a {font-size: 16px;}
    div.vis ul li .text_b .go {width: 100px; height: 35px; line-height: 35px;transition: 1s}
    div.bbtn{display: none;}
    div.pager {transform: translate(-30%, 200%);}
    div.pager ul li.tgg { width: 60px;}
}