#main3{
    background-image: url("../img/index/product_background.jpg");
    background-size: cover;
    background-position: 40% center;
}
#background_itemhover{
    width: 100%;
    height: 100%;
}
#product_title{
    position: absolute;
    top: 30%;
    left: 20%;
}
#product_title > h1{
    color: white;
    font-size: 35px; 
    font-weight: 300; 
    letter-spacing: 15px;
}
#product_title > p{
    color: white;
    padding: 10px 0;
}

/*items 공통*/
.items{
    position: absolute;
    cursor:pointer;
}
.items > a{
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.items:hover > a{
    visibility: visible;
}
.items:hover > .clickBox_item{
    visibility: hidden;
}

.clickBox_item{
    position: relative;
    width: 92px;
}
.clickBox_item > input[type=button]{
    position: absolute;
    right: 0;top: -2px;
    
    outline: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    color: white;
    letter-spacing: 3px;
}

/*거울 위치 조정*/
#mirror_item{
    top: 20%; left: 52%;
}
#mirror_item > .clickBox_item{
    position: absolute;
    top: 10px; right: -120px;
}

/*케비넷 위치 조정*/
#cabinet_item{
    top: 65%; left: 63%;
}
#cabinet_item > .clickBox_item{
    position: absolute;
    bottom: 0; right: -120px;
}
#cabinet_item > a{
    top: 55%;
}

/*세면대 위치 조정*/
#sink_item{
    top: 51.35%; left: 52%;
}
#sink_item > .clickBox_item{
    position: absolute;
    top: 0; right: -120px;
}
#sink_item > img:nth-child(2){
    display: none; /*Mobile IMG*/
}
/*욕조 위치 조정*/
#bath_item{
    /*bottom: 50px; left: 10%;*/
    bottom: 50px; right: 48%;
    z-index: 10;
}
#bath_item > .clickBox_item{
    position: absolute;
    bottom: 20px; left: -120px;
}
#bath_item > .clickBox_item > input[type=button]{
    left: 0;
}
#bath_item > a{
    top: 70%;
}

#background_itemhover > #bath_shadow{
    position: absolute;
    bottom: 10px; right: 35%; /*left: 29%;*/
    z-index: 5;
}

@media screen and (min-width:1280px) and (max-width:1599px){ /*large pc*/
    #product_title{
        left: 10%;
    }
    #product_title > h1{
        font-size: 30px; 
        letter-spacing: 14px;
    }
    #product_title > p{
        font-size: 15px;
    }
    .clickBox_item{
        visibility: hidden;
    }
    /*거울 위치 조정*/
    #mirror_item{
        left: 55%;
    }
    /*세면대 위치 조정*/
    #sink_item{
        left: 55%;
    }
}

@media screen and (min-width:768px) and (max-width:1279px){ /*태블릿*/
    #main3{
        background-image: url("../img/index/product_background_m.jpg.png");
        background-position: 50% 80%;
        padding-top: 80px;
    }
    #product_title, .clickBox_item, #bath_shadow{
        display: none;
    }
    .items{
        position: relative;
        width: 100%;
        height: 25%;
    }
    .items > a{
        color: #c0a588;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
        visibility: visible;
        
        /*PC 기능 초기화 (완전히 초기화는 되지않음)*/
        top: auto; bottom: auto; left: auto; right: auto;
        /*top: initial; bottom: initial; left: initial; right: initial;*/
        transform: translate(0,0);
        
        /*위치 재설정*/
        top: 50% !important; transform: translateY(-50%);
    }
    
    #mirror_item, #cabinet_item, 
    #sink_item, #bath_item{
        top: 0; left: 0; /*PC 기능 초기화*/
    }
    
    /*거울 위치 조정*/
    #mirror_item > img{
        position: absolute;
        left: 20%; top: 50%;
        transform: translateY(-50%);
        height: 90%;
    }
    #mirror_item > a{
        right: 20%;
    }
    
    /*캐비넷 위치 조정*/
    #cabinet_item > img{
        position: absolute;
        right: 20%; top: 50%;
        transform: translateY(-50%);
        width: 350px;
        max-width: 40%;
    }
    #cabinet_item > a{
        left: 20%;
    }
    
    /*세면대 위치 조정*/
    #sink_item > img:first-child{
        display: none; /*PC IMG*/
    }
    #sink_item > img:nth-child(2){
        display: block;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        
        width: 558px;
        max-width: 80%;
    }
    #sink_item > a{
        right: 30%;
        top: 35% !important;
    }
    
    /*욕조 위치 조정*/
    #bath_item > img{
        position: absolute;
        right: 20%; top: 50%;
        transform: translateY(-50%);
        width: 310px;
        max-width: 40%;
    }
    #bath_item > a{
        left: 20%;
    }
}
@media screen and (max-width:767px){ /*mobile*/
    #main3{
        background-image: url("../img/index/product_background_m.jpg.png");
        background-position: 50% 80%;
        padding-top: 80px;
    }
    #product_title, .clickBox_item, #bath_shadow{
        display: none;
    }
    .items{
        position: relative;
        width: 100%;
        height: 25%;
    }
    .items > a{
        color: #c0a588;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
        visibility: visible;
        
        /*PC 기능 초기화 (완전히 초기화는 되지않음)*/
        top: auto; bottom: auto; left: auto; right: auto;
        /*top: initial; bottom: initial; left: initial; right: initial;*/
        transform: translate(0,0);
        
        /*위치 재설정*/
        top: 50% !important; transform: translateY(-50%);
    }
    
    #mirror_item, #cabinet_item, 
    #sink_item, #bath_item{
        top: 0; left: 0; /*PC 기능 초기화*/
    }
    
    /*거울 위치 조정*/
    #mirror_item > img{
        position: absolute;
        left: 10%; top: 50%;
        transform: translateY(-50%);
        height: 90%;
    }
    #mirror_item > a{
        right: 15%;
    }
    
    /*캐비넷 위치 조정*/
    #cabinet_item > img{
        position: absolute;
        right: 10%; top: 50%;
        transform: translateY(-50%);
        width: 350px;
        max-width: 40%;
    }
    #cabinet_item > a{
        left: 15%;
    }
    
    /*세면대 위치 조정*/
    #sink_item > img:first-child{
        display: none; /*PC IMG*/
    }
    #sink_item > img:nth-child(2){
        display: block;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        
        width: 558px;
        max-width: 80%;
    }
    #sink_item > a{
        top: 35% !important;
        right: 28%;
    }
    
    /*욕조 위치 조정*/
    #bath_item > img{
        position: absolute;
        right: 10%; top: 50%;
        transform: translateY(-50%);
        width: 310px;
        max-width: 40%;
    }
    #bath_item > a{
        left: 15%;
    }
}